<%= form_with(model: @document, url: student_documents_path(@student), method: :post, local: true, multipart: true) do |form| %>
  <div class="registration-container">
    <h1>Document Upload Form</h1>

    <div class="form-group">
      <%= form.label :name, class: 'font-weight-bold' %>
      <%= form.text_field :name, class: 'form-control', style: 'border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;' %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: 'font-weight-bold' %>
      <%= form.text_area :description, class: 'form-control', style: 'border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;' %>
    </div>

    <div class="form-group">
      <%= form.label :adhar_card, class: 'font-weight-bold' %>
      <%= form.file_field :adhar_card, class: 'form-control-file', style: 'margin-bottom: 10px;' %>
    </div>

    <div class="form-group">
      <%= form.label :paincard, class: 'font-weight-bold' %>
      <%= form.file_field :paincard, class: 'form-control-file', style: 'margin-bottom: 10px;' %>
    </div>

    <div class="form-group">
      <%= form.label :image, class: 'font-weight-bold' %>
      <%= form.file_field :image, class: 'form-control-file', style: 'margin-bottom: 10px;' %>
    </div>

    <div class="form-group text-center">
      <%= form.submit 'Save', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= link_to 'Back to Student Page', students_path, class: 'btn btn-secondary' %>
