<h1>Document Details</h1>

<dl>
  <dt>Name:</dt>
  <dd><%= @document.name %></dd>
  
  <dt>Description:</dt>
  <dd><%= @document.description %></dd>

  <dt>ID:</dt>
  <dd><%= @document.id %></dd>

  <dt>Aadhar Card:</dt>
  <dd>
    <% if @document.adhar_card.attached? %>
      <%= image_tag rails_blob_path(@document.adhar_card, only_path: true), width: 200, height: 200 %>
    <% else %>
      No Aadhar Card uploaded
    <% end %>
  </dd>

  <dt>Paincard:</dt>
  <dd>
    <% if @document.paincard.attached? %>
      <%= image_tag rails_blob_path(@document.paincard, only_path: true), width: 200, height: 200 %>
    <% else %>
      No Paincard uploaded
    <% end %>
  </dd>

  <dt>Image:</dt>
  <dd>
    <% if @document.image.attached? %>
      <%= image_tag rails_blob_path(@document.image, only_path: true), width: 200, height: 200 %>
    <% else %>
      No Image uploaded
    <% end %>
  </dd>
</dl>

<%= link_to 'Back to Student Page', students_path, class: 'btn btn-secondary' %>
